<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="form">
        <input type="text" name="lhs">
        <select name="op" id="">
            <option>-</option>
            <option>+</option>
            <option>/</option>
            <option>*</option>
        </select>
        <input type="text" name="rhs">

        <!-- //if checked by the user it will sent item1 = done
        if not checked, it wont's send anything -->
        <input type="checkbox" name="item1" value="done">
        <input type="submit" value="Submit">


    </form>
</body>
</html>